 
 <!----------------Header from layout-------------------->
<%= render "/layouts/adminHeader"%>
<main class="feed-body">
    <hr>
    <div class="row">
        <!---------Render left tab from admin------->
        <%= render '/admin/leftTab' %>
        <!-------------End Render--------------->
        <div class="col-md-8 col-xs-8 photo-body">
            <div class="container">
            <br />
                <div class="row">
                    <div class="col-md-2">
                        <h6><strong>First Name</strong></h6>
                    </div>
                    <div class="col-md-2">
                        <h6><strong>Last Name</strong></h6>
                    </div>
                    <div class="col-md-4">
                        <h6><strong>Email</strong></h6>
                    </div>
                    <div class="col-md-2">
                        <h6><strong>Last Login</strong></h6>
                    </div>
                    <div class="col-md-2">
                        <h6><strong>cc</strong></h6>
                    </div>
                </div>
                <hr>
                <% for user in @Users %>
                    <div class="row">
                    <div class="col-md-2">
                        <p><%=user.firstName%></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=user.lastName%></p>
                    </div>
                    <div class="col-md-4">
                        <p><%=user.email%></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=user.lastLogin%></p>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <button class="btn btn-success"><%= link_to 'Edit', admin_edit_url(user.id) %></button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
                 <%end%>   
                
            </div>
        </div>            
        <div class="col-md-2 col-xs-2">
            right
        </div>
    </div>
        
            
</main>