<!-- The Modal -->
<div class="modal fade " id="myAlbumModal<%=album.id%>">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <!--start-->
      <div id="demo<%=album.id%>" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">

          <li data-target="#demo<%=album.id%>" data-slide-to="0" class="active"></li>
          <%for i in (1..album_records.size - 1)%>
          <li data-target="#demo<%=album.id%>" data-slide-to="<%=i%>"></li>
          <%end%>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">

          <%album_records.each do |album_record|%>
          <%photo = album_record.photo%>

          <%if album_record == album_records.first%>

          <div class="carousel-item active">
            <div class="container">
              <h4><strong><%=album.title%></strong></h4>
              <hr>
            </div>
            <img src="<%=photo.image.url%>" class="img-fluid", style="width: 100%; height: auto;">
            <p class="m-4"><%=photo.des%></p>
          </div>
          <%else%>
          <div class="carousel-item text-break">
            <div class="container">
              <h4><strong><%=album.title%></strong></h4>
              <hr>
            </div>
            <img src="<%=photo.image.url%>" class="img-fluid", alt="Chicago", style="width: 100%; height: auto;">
            <p class="m-4"><%=photo.des%></p>
          </div>
          <%end%>
          <%end%>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo<%=album.id%>" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo<%=album.id%>" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <!--end-->
  </div>
</div>