<body id="feed">
  <!----------------Header from layout-------------------->
  <%= render "/layouts/header"%>
  <!--------------------------------------------------------BODY------------------------------------------------------------------>
  <main class="feed-body">
    <hr>
    <div class="row">
      <!---------------Left tab from Layput-------------->
      <%= render "/layouts/left_tab"%>
      <!------------------End left tab------------------->
      <div class="col-md-8 col-xs-8 photo-body">
        <div class="container">
          <br />

          <div class="row">
            <div class="col-md-10">
              <h6><strong><%=t('editInfomarion')%></strong></h6>
            </div>
            <div class="col-md-2">
              <%= link_to  t("back"), feeds_url, class: "btn btn-danger pull-right", :"data-turbolinks" => false %>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7"><img class="edit-profile-photo m-auto" src="<%=@avatar%>" data-toggle="modal"
                data-target="#avatarModal">
              <!----Render avatar model------->


              <!------End render--------------->
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <h6 class="text text-primary"><strong><%=t('basicInformation')%></strong></h6>
            </div>
          </div>
          <!-------------------------------Basic Information------------------------------>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <!-----------------First Name---------------------->
          <div class="form-group">
            <div class="row">
              <div class="col-md-5">
                <label class="col-form-label d-flex justify-content-end"
                  for="User[firstName]"><strong><%=t('firstName')%></strong></label>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" value="<%=current_user.first_name%>" id="first-name" name="User[first_name]"
                  aria-describedby="emailHelp" placeholder="Your First Name">
                <small id="first-name-message" class="form-text text-muted"></small>
              </div>
            </div>
          </div>
          <!-----------------Last Name---------------------->
          <div class="form-group">
            <div class="row">
              <div class="col-md-5">
                <label class="col-form-label d-flex justify-content-end"><strong><%=t('lastName')%></strong></label>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" value="<%=current_user.last_name%>" id="last-name" name="User[last_name]"
                  aria-describedby="emailHelp" placeholder="Your Last Name">
                <div id="last-name-message" class="form-text text-muted">It should be your last name</div>
              </div>
            </div>
          </div>
          <!-----------------Email---------------------->
          <div class="form-group">
            <div class="row">
              <div class="col-md-5">
                <label class="col-form-label d-flex justify-content-end"><strong><%=t('email')%></strong></label>
              </div>
              <div class="col-md-4">
                <input type="text" class="form-control" value="<%=current_user.email%>" id="email" name="User[email]" aria-describedby="emailHelp"
                  placeholder="someone@example.com">
                <small id="email-message" class="form-text text-muted">It should be your email</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <button type="submit" value="submit" class="btn btn-success"><%=t('save')%></button>
            </div>
          </div>

          <%end%>
          <!------------------------------------End Form------------------------------->

          <br />
          <br />
          <br />

          <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-7">
              <h6 class="text text-primary"><strong><%=t('password')%></strong></h6>
            </div>
          </div>
          <!-------------------------------Password------------------------------>
          <%= form_for(resource, as: resource_name, url: '/edit/password', html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.hidden_field :reset_password_token %>
            <!-----------------Password---------------------->
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label class="col-form-label d-flex justify-content-end"
                    for="current-password"><strong><%=t('currentPassword')%></strong></label>
                </div>
                <div class="col-md-4">
                  <%= f.password_field :current_password, class: "form-control", placeholder: "Enter current password"%>
                  <small id="password-message" class="form-text text-muted">Your password should have more than 8
                    characters</small>
                </div>
              </div>
            </div>
            <!-----------------New Password---------------------->
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label
                    class="col-form-label d-flex justify-content-end"><strong><%=t('newPassword')%></strong></label>
                </div>
                <div class="col-md-4">
                  <%= f.password_field :password,class: "form-control", autofocus: true, autocomplete: "new-password" %>
                  <small id="new-password-message" class="form-text text-muted">Your password should have more than 8
                    characters</small>
                </div>
              </div>
            </div>
            <!-----------------Confirm password---------------------->
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <label
                    class="col-form-label d-flex justify-content-end"><strong><%=t('confirmPassword')%></strong></label>
                </div>
                <div class="col-md-4">
                  <%= f.password_field :password_confirmation,class: "form-control", autocomplete: "off" %>
                  <small id="confirm-password-message" class="form-text text-muted">It should be the same as your
                    password</small>
                </div>
              </div>
            </div>
            <!-------------------Save button --------------->
            <div class="row">
              <div class="col-md-5"></div>
              <div class="col-md-7">
                <button type="submit" value="submit" class="btn btn-success"><%=t('save')%>p</button>
              </div>
            </div>

          <%end%>
          <br />
          <br />
          <br />
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        right
      </div>
    </div>
<%= link_to "Change your password", edit_user_registration_path %>

  </main>
</body>
<!-- Java Script -->

</html>




