<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>

<body id="feed">
  <!---------------Header from Layput-------------->
  <%= render "/layouts/header"%>
  <!--------------------------------------------------------BODY------------------------------------------------------------------>
  <main class="feed-body">
    <hr>
    <div class="row">
      <!---------------Left tab from Layput-------------->
      <%= render "/layouts/left_tab"%>
      <!------------------End left tab------------------->
      <div class="col-md-8 col-xs-8 photo-body">
        <div class="container">
          <br />
          <div class="row">
            <!--Avatar-->
            <div class="col-md-3">
              <img class="profile-avatar" src="<%=@avatar%>">
            </div>
            <div class="col-mid-8">
              <!---Follow button--->
              <%if @is_followed%>
              <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>" ,
                following_id="<%=@discover_user.id%>">following</button>
              <%else%>
              <button class="btn btn-outline-primary follow" followed="false" follower_id="<%=@user.id%>" ,
                following_id="<%=@discover_user.id%>">follow</button>
              <%end%>
              <h2 class="text-primary">
               <%= link_to @full_name_discover, person_url(@discover_user.id), :"data-turbolinks" => false%>
              </h2>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#photo">
                    <%=@photos.count%> <%=t('photo')%></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#album"><%=@albums.count%> <%=t('album')%></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#following">
                    <%=@following_records.size%> <%=t('following')%></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#follower">
                    <%=@follower_records.size%> <%=t('follower')%></a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->

          <br />
          <div class="tab-content">
            <!--Photo--->
            <div class="tab-pane container active" id="photo">
              <div class="d-flex flex-wrap">
                <%@photos.each do |photo|%>
                <div class="photo-title">
                  <div class="image"
                    style="background: url('<%=photo.image.url%>'); background-size: 100% 100%; border-radius: 5px; width: 250px; height: 300px; position: relative"
                    data-toggle="modal" data-target="#myModal<%=photo.id%>">

                  </div>
                  <div class="title text-center"><strong><%=photo.title%></strong></div>
                </div>
                <!--------Render Photo Model---------------------->
                <%= render "/layouts/photo_model", photo: photo%>
                <!--------End Render Photo Model---------------------->
                <%end%>
              </div>
            </div>
            <!--End Photo-->
            <!--Album-->
            <div class="tab-pane container" id="album">
              <!--Add Album Button-->
             
              <br />
              <br />

              <div class="d-flex flex-wrap">
                <%@albums.each do |album|%>
                <!--Get first photo-->
                <%album_records = album.album_records%>
                <%if album_records.first != nil%>
                <%photo = album_records.first.photo%>
                <%else%>
                <%photo = Photo.first%>
                <%end%>
                <div class="photo-title">
                  <div class="image"
                    style="background: url('<%=photo.image.url%>'); background-size: 100% 100%;  border-radius: 5px; width: 250px; height: 300px; position: relative"
                    data-toggle="modal" data-target="#myAlbumModal<%=album.id%>">
                    <!---------------Private/Public-------------->
                    <%if album.is_private? %>
                    <button class="btn btn-secondary pull-right" style="border-radius: 50%;"><i
                        class="fas fa-lock"></i></button>
                    <%end%>
                    <!---------------Edit Photo Button----------->
                  </div>
                  <div class="title text-center"><strong><%=photo.title%></strong></div>
                </div>
                <!------------------------Render Album Model---------------->
                <%= render "/layouts/album_model", album: album, album_records: album_records%>
                <!---------------------End Render Album Model---------------->
                <%end%>


              </div>
            </div>
            <!--End Album-->
            <!--Following-->
            <div class="tab-pane container fade" id="following">
              <div class="d-flex flex-wrap">
                <%@following_records.each do |following_record|%>
                <%following = following_record.following%>
                <div class="photo-title shadow-sm  bg-white rounded mb-3 ", style=" border-radius: 5px; width: 250px; height: 300px; position: relative">
                  <div class="d-flex justify-content-center mt-2" style="width: 100%; height 40%; backgrround: blue;">
                    <img class="" style="width: 100px; height: 100px; margin: auto; border-radius: 50%"
                      src="<%=following.avatar%>">
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <h3>
                    
                      <%= link_to following.first_name,  person_url(following.id) , :"data-turbolinks" => false%>
                    </h3>
                  </div>
                  <div class="mt-2" style="height: 80px;">
                    <div class="pull-left ml-4">
                      <h1>
                        <%=following.photos.count%>
                      </h1>
                      <h6 style="padding-top: px;"><%=t('photo')%></h6>
                    </div>
                    <div class="pull-right mr-4">
                      <h1>
                        <%=following.albums.count%>
                      </h1>
                      <h6><%=t('album')%></h6>
                    </div>

                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <%if @following_list.where(following: following).first == nil%>
                    <button class="btn btn-outline-primary follow" followed="false" follower_id="<%=@user.id%>" ,
                      following_id="<%=following.id%>">Follow</button>
                    <%else%>
                    <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>" ,
                      following_id="<%=following.id%>">Following</button>
                    <%end%>
                  </div>

                </div>

                <%end%>
              </div>
            </div>
            <!--Follower-->
            <div class="tab-pane container fade" id="follower">
              <div class="d-flex flex-wrap">
                <%@follower_records.each do |follower_record|%>
                <%follower = follower_record.follower%>
                <div class="photo-title shadow-sm  bg-white rounded mb-3 text-primary", style=" border-radius: 5px; width: 250px; height: 300px; position: relative">
                  <div class="d-flex justify-content-center mt-2" style="width: 100%; height 40%; backgrround: blue;">
                    <img class="" style="width: 100px; height: 100px; margin: auto; border-radius: 50%"
                    src="<%=follower.avatar%>">
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <h3>
                      <%= link_to follower.first_name,  person_url(follower.id) , :"data-turbolinks" => false%>
                    </h3>
                  </div>
                  <div class="mt-2" style="height: 80px;">
                    <div class="pull-left ml-4">
                      <h1>
                        <%=follower.photos.count%>
                      </h1>
                      <h6 style="padding-top: px;"><%=t('photo')%></h6>
                    </div>
                    <div class="pull-right mr-4">
                      <h1>
                        <%=follower.albums.count%>
                      </h1>
                      <h6><%=t('album')%></h6>
                    </div>

                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <%if @following_list.where(following: follower).first == nil%>
                    <button class="btn btn-outline-primary follow" followed="false" follower_id="<%=@user.id%>" ,
                      following_id="<%=follower.id%>">Follow</button>
                    <%else%>
                    <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>" ,
                      following_id="<%=follower.id%>">Following</button>
                    <%end%>
                  </div>

                </div>

                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        right
      </div>
    </div>


  </main>
</body>
<!-- Java Script -->

</html>