<!-- The Modal -->
              <div class="modal fade " id="myModal<%=photo.id%>">
                <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                    <!-----Image------>
                    <div class="row">
                      <div class="col-md-8"><img class="center" src="<%=photo.image.url%>"
                          style="height: 700px;width: 100%;"></div>
                      <div class="col-md-4">
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <!------Avatar------>
                          <img src="<%=photo.User.avatar%>" style="width: 50px; height: 50px; border-radius: 50%;">

                          <!------User's Name------>
                          <div>
                            <h4 class="header-text text-primary" style="padding-left: 20px;">
                              <%= "  " + photo.User.firstName + " " + photo.User.lastName  %></h4>
                            <div style="padding-left: 20px;"><%=photo.created_at.strftime("%I:%M%P %m/%d/%Y")%></div>
                          </div>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <h4 class="modal-title"><%=photo.title%></h4>
                          <%=photo.des%>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <div class="row">
                            <!--Like Icon-->
                            <i class="like fas fa-heart numOfLikes<%=photo.id%>"><%=photo.likes.size%></i>
                          </div>

                        </div>
                        <div class="row">
                          <!--Like Button -->

                          <%if @likes[photo.id] != true %>
                          <button class="btn like" liked="false" user_id="<%=@user.id%>"
                            numOflikes="<%=photo.likes.size%>" photo_id="<%=photo.id%>">Like</button>
                          <%else%>

                          <button class="btn like text-primary" liked="true" user_id="<%=@user.id%>"
                            numOflikes="<%=photo.likes.size%>" photo_id="<%=photo.id%>">Like</button>
                          <%end%>
                          <button class="btn "><a href="#comment">Comment</a></button>
                          <button class="btn ">Share</button>
                        </div>
                        <!---Comment----->
                        <div id="comments<%=photo.id%>">
                        
                          <%for comment in photo.photo_comments%>
                          <div class="d-flex flex-wrap m-1">
                            <img src="<%=comment.User.avatar%>" style="width: 30px; height: 30px; border-radius: 50%"
                             class="mr-2">
                            
                            <strong class="text-primary mr-2"><%=comment.User.firstName%>:</strong>
                            <p><%=comment.content%></p> 
                            </div>
                          <%end%>
                        
                        </div>
                        <div class="row">

                          <img class="ml-2" src="<%=@user.avatar%>"
                            style="width: 45px; height: 45px; border-radius: 50%">

                          <div class="col-md-10">

                            <input style="border-radius: 10px; margin-right: 5px" class="form-control comment"
                              placeholder="Enter your comment here" Photo_id="<%=photo.id%>">

                          </div>
                        </div>
                      </div>
                    </div>



                  </div>
                </div>
              </div>