

</head>

<body id="feed">
  <%= render "/layouts/header"%>

  <!--------------------------------------------------------BODY------------------------------------------------------------------>
  <main class="feed-body">
    <hr>
    <div class="row">
      <!---------------Left tab from Layput-------------->
      <%= render "/layouts/leftTab"%>
      <!------------------End left tab------------------->

      <div class="col-md-8 col-xs-8 photo-body">
        <!----------------------------------HEADER BUTTON----------------------------------------->
        <div class="row photo-body">
          <div class="col">
            <button id="photo-button" href="#photo" type="button" role="tab" data-toggle="tab"
              class="btn btn-primary pull-right photo-button"><%=t('photo').upcase%></button>
          </div>
          <div class="col">
            <button id="album-button" href="#album" type="button" role="tab" data-toggle="tab"
              class="btn btn-primary pull-left album-button"><%=t('album').upcase%></button>
          </div>
        </div>
        <br>
        <!-------------------------------------PHOTO---------------------------------------------->
        <!----------------------Photo Tab--------------------->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="photo">
            <div class="wrap photo-body">
              <!------------------------A photo----------------------------------->
              <div></div>
              <%for photo in @photos%>
              <div class="photo-container shadow-sm rounded " >
                <div class="row">
                  <div class="col">
                    <img src="<%=photo.image.url%>" class="photo-review-image" data-toggle="modal" data-target="#myModal<%=photo.id%>">
                  </div>
                  <div class="col">
                    <!--Follow Button-->
                    <%if @followings[photo.User.id] == true%>
                      <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>", following_id="<%=photo.User.id%>"
                        style="border-radius: 50%; position: absolute; top:0; right:15px;">following</button>
                    <%else%>
                      <button class="btn btn-outline-primary follow" followed="false" follower_id="<%=@user.id%>", following_id="<%=photo.User.id%>"
                        style="border-radius: 50%; position: absolute; top:0; right:15px;">follow</button>
                    <%end%>
                    <div class="review-header">
                      <!------Avatar------>
                      <img src="<%=photo.User.avatar%>" class="header-img">
                      <!------User's Name------>
                      <%= link_to photo.User.firstName,  info_url(photo.User.id) , :"data-turbolinks" => false%>


                    </div>
                    <div class="review-body">
                      <p class="header-text"><%=photo.title%></p>
                      <p><%=photo.des%></p>
                    </div>
                    <div class="review-footer">
                      <%if @likes[photo.id] != true %>
                      <i class="fas fa-heart likePhotoIcon" style="color: blue" liked="false" user_id="<%=@user.id%>"
                      numOflikes="<%=photo.likes.size%>" photo_id="<%=photo.id%>">
                        <%=photo.likes.size%></i>
                    <%else%>
                    <i class="fas fa-heart likePhotoIcon" style="color: red" liked="true" user_id="<%=@user.id%>"
                      numOflikes="<%=photo.likes.size%>" photo_id="<%=photo.id%>">
                        <%=photo.likes.size%></i>
                    <%end%>
                      <div class="date ml-auto"><%=photo.created_at.strftime("%I:%M%P %m/%d/%Y")%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--------Render Photo Model---------------------->
            <%= render "/feed/photoModel", photo: photo%>
            <!--------End Render Photo Model---------------------->
              <%end%>
              <!------------------------END PHOTO------------------------------------------>
            </div>
          </div>
           <!----------------------Album Tab--------------------->
          <div role="tabpanel" class="tab-pane" id="album">
            <div class="wrap photo-body">
              <!------------------------A photo----------------------------------->
              <%for album in @albums%>
              <!----------Get all album record--------------->
              <%albumRecords = album.album_records%>

              <!-------------Get first image------------------>
              <%if albumRecords.first != nil%>
              <%firstPhoto = albumRecords.first.Photo%>
              <div class="photo-container shadow-sm rounded " >
                <div class="row" style="height: 100%;">
                  <div class="col albums-rotate">
                  
                    <img src="<%=firstPhoto.image.url%>" class="photo-review-image album-rotate img-thumbnail">
                    <img src="<%=firstPhoto.image.url%>" class="photo-review-image album-rotate img-thumbnail">
                    <img src="<%=firstPhoto.image.url%>" class="photo-review-image album-rotate img-thumbnail"  data-toggle="modal" 
                    data-target="#myAlbumModal<%=album.id%>">
                    <h2 class="position-absolute" style="top: 10%; left: 50%; color: white">
                      <strong><%=albumRecords.size%></strong></h2>
                  </div>
                  <div class="col">
                    <div class="review-header">
                      <!------Avatar------>
                      <img src="<%=album.User.avatar%>" class="header-img">

                      <!------User's Name------>
                      <%= link_to album.User.firstName,  info_url(album.User.id) , :"data-turbolinks" => false%>
                    </div>
                    <div class="review-body">
                      <p class="header-text"><%=album.name%></p>
                      <p><%=album.des%></p>
                    </div>
                    <div class="review-footer">
                      <i class="like fas fa-heart numOfLikes<%=album.id%>" id="numOfLikes<%=album.id%>">
                        <%=%></i>
                      <div class="date ml-auto"><%=album.created_at.strftime("%I:%M%P %m/%d/%Y")%></div>
                  </div>
                </div>
              </div>
              <%end%>
            </div>

            <!------------------------Render Album Model---------------->
            <%= render "/feed/albumModel", album: album, albumRecords: albumRecords%>
            <!---------------------End Render Album Model---------------->
            <%end%>
            <!------------------------END ALBUM------------------------------------------>

        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        right
      </div>
    </div>


  </main>
</body>
<!-- Java Script -->

</html>