<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        
  
    </head>

    <body id="feed" >
        <!---------------Header from Layput-------------->
        <%= render "/layouts/header"%>
        <!--------------------------------------------------------BODY------------------------------------------------------------------>
        <main class="feed-body">
            <hr>
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <div class="container">
                        <a href="#" class="link">Discover</a>
                        <br>
                        <a href="#" class="link">Feeds</a>
                    </div>
                    
                </div>
                <div class="col-md-8 col-xs-8 photo-body">
                    <div class="container">
                    <br />
                    <div class="row">
                        <!--Avatar-->
                        <div class="col-md-3">
                            <img class="profile-avatar" 
                                src="<%=@avatar%>">
                        </div>
                        <div class="col-mid-8">
                        <!---Edit Profile Button--->
                            <a href="profile/editProfile"><button class="btn btn-primary" id="edit-profile">Edit profile</button></a>
                            <h2 class="text-primary"><%= @fullName %></h2>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#photo"><%=@photos.count%> Photo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#album">Album</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#following">Following</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#follower">Followers</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <!--Add Photo Button-->
                    <button class="btn btn-success pull-right"><%= link_to 'Add Photo', newPhoto_url %></button>
                    <br/>
                    <br/>
                    <div class="tab-content">
                    <!--Photo--->
                        <div class="tab-pane container active" id="photo">
                            <div class="d-flex flex-wrap">
                            <%for photo in @photos%>
                                <div class="photo-title">
                                    <div class="image" style="background: url('<%=photo.image.url%>'); background-size: 100% 100%; border-radius: 5px;">
                                    <!---------------Edit Photo Button----------->
                                        <button class="btn btn-outline-success pull-down"><%= link_to 'Edit', editPhoto_url(photo.id) %></button>
                                    </div>
                                    <div class="title text-center"><strong><%=photo.title%></strong></div>
                                </div>
                            <%end%>
                            </div> 
                        </div>
                    <!--End Photo-->
                        <div class="tab-pane container fade" id="album">
                        Album
                        </div>
                        <div class="tab-pane container fade" id="following">Following</div>
                        <div class="tab-pane container fade" id="follower">Followers</div>
                    </div>
                </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    right
                </div>
            </div>
        
            
        </main>
    </body>
     <!-- Java Script -->
    
</html>