

<body id="feed">
  <!---------------Header from Layput-------------->
  <%= render "/layouts/header"%>
  <!--------------------------------------------------------BODY------------------------------------------------------------------>
  <main class="feed-body">
    <hr>
    <div class="row">
      <!---------------Left tab from Layput-------------->
      <%= render "/layouts/leftTab"%>
      <!------------------End left tab------------------->
      <div class="col-md-8 col-xs-8 photo-body">
        <div class="container">
          <br />
          <div class="row justify-content-center">
            <!--Avatar-->
            <div class="col-md-3 text-center text-md-left">
              <img class="profile-avatar" src="<%=@avatar%>" data-toggle="modal" data-target="#avatarModal">
            </div>
            <!---End Avatar------>
            <!----Render avatar model------->
            <%= render "/profile/changeAvatarModel" %>
            <!------End render--------------->
            <div class="col-md-8 text-center text-lg-left">
              <!---Edit Profile Button--->
              <%= link_to 'Edit profile', profile_editProfile_url, class: "btn btn-primary", id: "edit-profile", :"data-turbolinks" => false %>
              <h2 class="text-primary">
                <%= @fullName %>
              </h2>
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#photo">
                    <%=@photos.count%> Photo</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#album">
                    <%=@albums.count%> Album</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " data-toggle="tab" href="#following">
                    <%=@followingRecords.size%> Following</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#follower">
                    <%=@followerRecords.size%> Followers</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Tab panes -->

          <div class="tab-content">
            <!--Photo-->
            <div class="tab-pane container active" id="photo">
              <!--Add Photo Button-->
              <button class="btn btn-success pull-right"><%= link_to 'Add Photo', newPhoto_url, :"data-turbolinks" => false %></button>
              <br />
              <br />
              <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="photo">
              <div class="d-flex flex-wrap">
                <%for photo in @photos%>
                <div class="photo-title">
                  <div class="image"
                    style="background: url('<%=photo.image.url%>'); background-size: 100% 100%; border-radius: 5px;"
                    data-toggle="modal" data-target="#myModal<%=photo.id%>">
                    <!---------------Private/Public-------------->
                    <%if photo.isPrivate? %>
                    <button class="btn btn-secondary pull-right" style="border-radius: 50%;"><i
                        class="fas fa-lock"></i></button>
                    <%end%>
                    <!---------------Edit Photo Button----------->
                    <button
                    
                      class="btn btn-outline-success pull-down"><%= link_to 'Edit', editPhoto_url(photo.id), :"data-turbolinks" => false %></button>
                  </div>
                  <div class="title text-center"><strong><%=photo.title%></strong></div>
                </div>
                <!--------Render Photo Model---------------------->
            <%= render "/feed/photoModel", photo: photo%>
            <!--------End Render Photo Model---------------------->
                <%end%>
              </div>
              </div>
              </div>

            </div>
            <!--End Photo-->
            <!--Album-->
            <div class="tab-pane container" id="album">
              <!--Add Album Button-->
              <button class="btn btn-success pull-right"><%= link_to 'Add Album', newAlbum_url,  :"data-turbolinks" => false %></button>
              <br />
              <br />
              
              <div class="d-flex flex-wrap">
                <%for album in @albums%>
                <!--Get first photo-->
                <%albumRecords = album.album_records%>
                <%if albumRecords.first != nil%>
                <%photo = albumRecords.first.Photo%>
                <%else%>
                <%photo = Photo.first%>
                <%end%>
                <div class="photo-title">
                  <div class="image"
                    style="background: url('<%=photo.image.url%>'); background-size: 100% 100%; border-radius: 5px;"
                    data-toggle="modal" data-target="#myAlbumModal<%=album.id%>">
                    <!---------------Private/Public-------------->
                    <%if album.isPrivate? %>
                    <button class="btn btn-secondary pull-right" style="border-radius: 50%;"><i
                        class="fas fa-lock"></i></button>
                    <%end%>
                    <!---------------Edit Photo Button----------->
                    <button
                      class="btn btn-outline-success pull-down"><%= link_to 'Edit', editAlbum_url(album.id), :"data-turbolinks" => false %></button>
                  </div>
                  <div class="title text-center"><strong><%=photo.title%></strong></div>
                </div>
    <!------------------------Render Album Model---------------->
            <%= render "/feed/albumModel", album: album, albumRecords: albumRecords%>
            <!---------------------End Render Album Model---------------->
                <%end%>
            
             
              </div>
            </div>
            <!--End Album-->
            <!--Following-->
            <div class="tab-pane container fade" id="following">
              <div class="d-flex flex-wrap">
                <%for followingRecord in @followingRecords%>
                <%following = followingRecord.following%>
                <div class="photo-title mb-3">
                  <div class="d-flex justify-content-center mt-2" style="width: 100%; height: 40%; background: white;">
                    <img class="" style="width: 100px; height: 100px; margin: auto; border-radius: 50%"
                      src="<%=following.avatar%>">
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <h3>
                    <%= link_to following.firstName,  info_url(following.id) , :"data-turbolinks" => false%>
                    </h3>
                  </div>
                  <div class="mt-2" style="height: 80px;">
                    <div class="pull-left ml-4">
                      <h1>
                        <%=following.photos.count%>
                      </h1>
                      <h6 style="padding-top: px;">Photos</h6>
                    </div>
                    <div class="pull-right mr-4">
                      <h1>
                        <%=following.albums.count%>
                      </h1>
                      <h6>Albums</h6>
                    </div>

                  </div>
                  <div class="d-flex justify-content-center mt-2">

                    <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>" ,
                      following_id="<%=following.id%>">following</button>

                  </div>

                </div>

                <%end%>
              </div>
            </div>
            <!--Follower-->
            <div class="tab-pane container fade" id="follower">
              <div class="d-flex flex-wrap">
                <%for followerRecord in @followerRecords%>
                <%follower = followerRecord.follower%>
                <div class="photo-title shadow-sm  bg-white rounded mb-3 text-primary">
                  <div class="d-flex justify-content-center mt-2" style="width: 100%; height: 40%; backgrround:white;">
                    <img class="" style="width: 100px; height: 100px; margin: auto; border-radius: 50%"
                      src="<%=follower.avatar%>">
                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <h3>
                      <%= link_to follower.firstName,  info_url(follower.id) , :"data-turbolinks" => false%>
                    </h3>
                  </div>
                  <div class="mt-2" style="height: 80px;">
                    <div class="pull-left ml-4">
                      <h1>
                        <%=follower.photos.count%>
                      </h1>
                      <h6 style="padding-top: px;">Photos</h6>
                    </div>
                    <div class="pull-right mr-4">
                      <h1>
                        <%=follower.albums.count%>
                      </h1>
                      <h6>Albums</h6>
                    </div>

                  </div>
                  <div class="d-flex justify-content-center mt-2">
                    <%if @followingList.where(following: follower).first == nil%>
                    <button class="btn btn-outline-primary follow" followed="false" follower_id="<%=@user.id%>" ,
                      following_id="<%=follower.id%>">Follow</button>
                    <%else%>
                    <button class="btn btn-primary follow" followed="true" follower_id="<%=@user.id%>" ,
                      following_id="<%=follower.id%>">Following</button>
                    <%end%>
                  </div>

                </div>

                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-2">
        right
      </div>
    </div>


  </main>
</body>
<!-- Java Script -->
